
.login-bg-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #09090b, #0f141f, #06422b, #022c22);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  font-family: sans-serif;
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.glass-panel {
  max-width: 850px;
  background: rgba(24, 24, 27, 0.55) !important; 
  backdrop-filter: blur(16px) saturate(120%);
  -webkit-backdrop-filter: blur(16px) saturate(120%);
  border: 2.2px solid hsla(108, 71%, 80%, 0.185) !important;
}


.form-control::placeholder {
  color: #71717a !important;
  opacity: 1;
}

.form-control {
  color: #ffffff !important;
  background-color: rgba(39, 39, 42, 0.6) !important;
  border: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.form-control:focus {
  background-color: rgba(39, 39, 42, 0.9) !important;
  box-shadow: 0 0 0 0.25rem rgba(16, 185, 129, 0.15) !important;
}
