<div class="container">

  <div class="top-bar mt-3">

    <button
      class="home-btn"
      (click)="toggleMenu()">

      ☰

    </button>

  </div>

  <div
    class="menu-lateral"
    *ngIf="menuAberto">

    <a
      routerLink="/home"
      (click)="menuAberto = false">

      Home

    </a>

    <a
      (click)="logout()">

      Logout

    </a>

  </div>

  <h1>Dashboard FORD</h1>

  <div
    *ngIf="selectedVehicle"
    class="row justify-content-center align-items-stretch g-4">

    <div class="col-md-3">

      <div class="vehicle-box h-100">

        <h3>Veículo</h3>

        <select
          class="form-select"
          (change)="selectVehicleById($event)">

          <option
            *ngFor="let vehicle of vehicles"
            [value]="vehicle.id">

            {{ vehicle.vehicle }}

          </option>

        </select>

      </div>

    </div>

    <div class="col-md-3">

      <div class="card-box h-100">

        <h3>Total de Vendas</h3>

        <p>{{ selectedVehicle.volumetotal }}</p>

        <span>Unid.</span>

      </div>

    </div>

    <div class="col-md-3">

      <div class="card-box h-100">

        <h3>Conectados</h3>

        <p>{{ selectedVehicle.connected }}</p>

        <span>Unid.</span>

      </div>

    </div>

    <div class="col-md-3">

      <div class="card-box h-100">

        <h3>Update Software</h3>

        <p>{{ selectedVehicle.softwareUpdates }}</p>

        <span>Unid.</span>

      </div>

    </div>

  </div>

  <div
    *ngIf="selectedVehicle"
    class="car-container">

    <img
      [src]="selectedVehicle.img"
      class="car-img">

  </div>

  <div class="vin-search">

    <div class="row justify-content-center">

      <div class="col-md-6">

        <div class="input-group">

          <input
            type="text"
            class="form-control"
            placeholder="Digite o VIN"
            [(ngModel)]="vin">

          <button
            class="btn btn-primary"
            (click)="buscarVin()">

            Buscar

          </button>

        </div>

      </div>

    </div>

  </div>

  <div
    *ngIf="vehicleData"
    class="table-responsive">

    <table class="table table-bordered table-hover text-center">

      <thead class="table-primary">

        <tr>

          <th>Código VIN</th>
          <th>Odômetro</th>
          <th>Combustível</th>
          <th>Status</th>
          <th>Latitude</th>
          <th>Longitude</th>

        </tr>

      </thead>

      <tbody>

        <tr>

          <td>{{ vin }}</td>
          <td>{{ vehicleData.odometro }} Km</td>
          <td>{{ vehicleData.nivelCombustivel }}%</td>
          <td>{{ vehicleData.status }}</td>
          <td>{{ vehicleData.lat }}</td>
          <td>{{ vehicleData.long }}</td>

        </tr>

      </tbody>

    </table>

  </div>

</div>